*{
    box-sizing: border-box;
}

nav{
    background-color: #7ac7f0;
    color:white;
}


body {
    background-color:black
}

div > a > img{
    border-radius: 50%;
    margin-bottom: 12px;
    
}
a > img:hover{
    box-shadow: 0 0 2px 1px rgba(137, 180, 221, 0.651);
}

h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: bold;
    font-style: oblique;
    color: #7ac7f0;
}

